{
    "parser"  : "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react"
    ],
    "env" : {
        "browser" : true,
        "es6": true
    },
    "extends" : [
        "standard",
        "standard-react",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
     ],
     "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "__DEV__": false
    },
    "settings": {
        "react": {
          "version": "detect"
        }
      },
    "rules": {
        // Eslint
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "keyword-spacing": ["error", { "after": true, "before": true }],
        "object-curly-spacing": ["error", "always"],
        "quotes": ["error", "single", { "avoidEscape": true }],
        "space-before-function-paren": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "semi": ["error", "always"],
        // React
        "react/jsx-curly-brace-presence": ["error", "always"],
        "react/jsx-curly-newline": ["error", "consistent"],
        "react/jsx-equals-spacing": ["error", "never"],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
        "react/jsx-wrap-multilines": ["error", {
            "arrow": "parens-new-line",
            "assignment": "parens-new-line",
            "declaration": "parens-new-line",
            "logical": "ignore",
            "prop": "parens",
            "return": "parens-new-line"
        }],
        "react/jsx-tag-spacing": ["error", {
            "afterOpening": "never",
            "beforeClosing": "never",
            "beforeSelfClosing": "always",
            "closingSlash": "never"
        }],
        // Typescript
        "@typescript-eslint/ban-ts-comment": ["error", {
            "ts-expect-error": true,
            "ts-ignore": "allow-with-description",
            "ts-nocheck": true,
            "ts-check": false,
            "minimumDescriptionLength": 10
        }],
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }]
    }
}